<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NextGen Technology</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

    <style>

        /* Header */
        body::-webkit-scrollbar {
            display: none;
        }

        .bgcolor.scrolled {
            background-color: #0a3d62 !important;
        }

        body {
            background-color: aliceblue;
            font-family: Arial;
        }

        .navbar-nav {
            color: whitesmoke;
        }

        .main-content {
            width: 100vw;
        }

        .nav-link:hover {
            color: #ffa502 !important;
        }

        .brand-logo {
            max-width: 30px;
            max-height: 40px;
        }

        /*Footer*/
        .footer {
            background-color: #0a3d62;
            color: white;
            text-align: center;
        }

        .footer-card {
            max-height: 50vh;
            background-color: transparent;
            border: none;
            min-height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: whitesmoke;
        }

        .footer-logo img {
            aspect-ratio: 1.8/1;
            max-width: 20vh;
            min-width: 200px;
        }

        .tc {
            color: slategrey;
        }

        /*Loader*/
        .spinner-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .spinner-border {
            color: white;
            max-height:20vh; 
            max-width:20vh; 
            min-height:50px;
            min-width:50px;
            aspect-ratio:1/1;
        }

    </style>
</head>
<body>

    @* navbar *@
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bgcolor">
            <div class="container">
                <img src="~/logos/logo3-light.png" class="brand-logo d-inline-block align-text-top p-1 m-0">
                <a class="navbar-brand ps-2" href="/">NextGen Technology</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" id="menuIcon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" id="Index">Home</a>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Careers" id="Careers">Careers</a>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About" id="About">About</a>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contactus" id="Contactus">ContactUs</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>



    @* Main Body *@
    <div class="main-content container-fluid p-0 m-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    @* footer *@
    <footer class="border-top footer text-muted p-5">
        <div class="container-fluid">
            <div class="footer-logo">
                <img src="~/logos/logo4-light.png" />
            </div>
            <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 g-4 m-lg-3">
                <div class="col">
                    <div class="card footer-card">
                        <h4 class="d-flex">India <span class="ms-1 fi fi-in"></span></h4>
                        <p>Ahmedabad (HQ)</p>
                        <p>+91 7777909916</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card footer-card">
                        <h4 class="d-flex">United States<span class="ms-1 fi fi-us"></span></h4>
                        <p>New York</p>
                        <p>+212 7777909916</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card footer-card">
                        <h4 class="d-flex">Australia<span class="ms-1 fi fi-au"></span></h4>
                        <p>Perth</p>
                        <p>+61 7777909916</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card footer-card">
                        <h4 class="d-flex">United Kingdom<span class="ms-1 fi fi-gb"></span></h4>
                        <p>London</p>
                        <p>+20 7777909916</p>
                    </div>
                </div>
            </div>
            <div>
                <p class="tc">copyright | Tems and conditions</p>
                <p class="tc">Copyrights ©️ 2024 NextGen Technology</p>
            </div>
        </div>
    </footer>


     @* loading spiner *@
    <div class="modal" style="background-color: rgba(0, 0, 0, 0.6);" id="spinner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center">
            <div class="spinner-container">
                <img src="~/logos/logo3-light.png" class="position-absolute brand-logo d-inline-block align-text-top p-1 m-0">
                <div class="spinner-border" role="status">
                    <span class="position-relative sr-only"></span>
                </div>
            </div>
        </div>
    </div>

     @* Website loader *@
    <div class="modal" style="background-color: white;" id="loader" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center flex-column">
            <div class="spinner-container">
                <img src="~/logos/logo3-dark.png" class="position-absolute brand-logo d-inline-block align-text-top p-1 m-0">
                <div class="spinner-border" role="status" style="color:#0a3d62 !important;">
                    <span class="position-relative sr-only"></span>
                </div>
            </div>
            <h6 class="pt-2" style="color:dimgray">Please wait...</h6>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>

        // Navbar background
        $(document).ready(function () {
            var activeController = "@ViewContext.RouteData.Values["action"]";
           
            $('#' + activeController).addClass('active');

            if (window.location.pathname !== "/Home" && window.location.pathname !== "/" && window.location.pathname !== " ") {
                $('nav').addClass('scrolled');
            }
        });
        $(window).scroll(function () {
            if (window.location.pathname === "/Home" || window.location.pathname === "/" ) {
                $(this).scrollTop() > 20 ? $('nav').addClass('scrolled') : $('nav').removeClass('scrolled');
            }
        });

        // Scrool
        function f1() {
            const scrollAmount = 0.95 * window.innerHeight;
            window.scrollBy({
                top: scrollAmount,
                behavior: "smooth"
            });
        }

        var spinnerVisible = false;

        // loading spiner
        function loading() {
            var spinner = $("div#spinner");
            if (!spinnerVisible) {
                spinner.fadeIn("fast");
                spinnerVisible = true;
            } else {
                spinner.stop().fadeOut("fast");
                spinnerVisible = false;
            }
        };

        // Website loader
        $(document).ready(function () {
            $('#loader').show();

            $(window).on('load', function () {
                $('#loader').hide();
            });

            $('#button').click(function () {
                $('#loader').show();
                $.ajax({
                    url: window.location.pathname.toString,
                    success: function (data) {
                        $('#loader').hide();
                    },
                    error: function () {
                        $('#loader').hide();
                    }
                });
            });
        });
    </script>


</body>
</html>
