
@{
    ViewData["Title"] = "About";
}
<head>
    <style>
        .about-container{
            height:100vh;
        }
    </style>
</head>

<div class="container-fluid about-container d-flex justify-content-center align-items-center">

</div>
