@{
    ViewData["Title"] = "Careers";
}
<head>
    <style>
        .careers-container {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction:column;
            color: dimgrey;
        }

        .modal-dialog {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .careers-container img{
            width:30vw;
            aspect-ratio:1/1;
        }

    </style>
</head>
<div class="container-fluid careers-container">
    <img src="~/assets/images/nodata.png" />
    <h3>No Job posted yet.</h3>
</div>


